@import"https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap";

:root {
    --button-text-color: rgb(233, 233, 233);
    --location-skipped: rgb(133, 3, 3);
    --location-tracked: rgb(6, 161, 71);
    --location-hover: rgba(255, 255, 255, 0.2);
    --button-hover: rgba(255, 255, 255, 0.2);
    --location-bg: #121212;
    --transition: 0.1s;
}

body {
    background-color: rgb(20, 20, 20);
    font-family: outfit;
    color: white;
    text-shadow: 2px 2px black;
    padding-bottom: 39px; /* intentional extra space at the bottom */
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

button {
    font-family: outfit;
}

.normal-button {
    padding-block: .5rem;
    padding-inline: 2rem;
    max-width: 170px;
    margin-top: 3px;
    border: 1px solid #383838;
    background-color: var(--location-bg);
    color: var(--button-text-color);
    text-align: center;
    cursor: pointer;
    transition: var(--transition);
}

.normal-button:hover {
    background-color: var(--button-hover);
}

.cycle-tech-info, 
.prev-cycles {
    padding: 15px 15px;
    box-shadow: 0 0 15px black;
}

.cycle-tech-info p,
.prev-cycles p {
    color: var(--button-text-color);
}

.cycle-tech-info h1 {
    margin-top: -5px;
}

.prev-cycles {
    align-items: center;
    text-align: center;
    display: none;
    height: auto;
    margin-top: 115px;
    max-height: 900px;
    overflow-y: scroll;
}

.prev-cycles p {
    height: 15px;
}

.prev-cycles h1 {
    margin-top: -5px;
}

#prev-cycles {
    display: none;
}

#toolbar {
    padding: 5px;
    text-align: center;
    display: none;
}

#map-name {
    text-align: center;
    margin-bottom: 0;
}

.map-button {
    position: relative;
    padding: 1px;
    margin-left: 5px;
    margin-top: 5px;
    border: 1px solid #383838;
    background-color: var(--location-bg);
    color: var(--button-text-color);
    transition: var(--transition);
    cursor: pointer;
    text-shadow: 2px 2px black;
    font-size: large;
}

.map-button:hover {
    background-color: var(--location-hover);
}

.map-button img {
    max-width: 100%;
    width: auto;
    height: 170px;
}

.location-name {
    margin-top: 25px;
}

.map-button.skip-tracked {
    background-color: var(--location-skipped);
}

.map-button.tracked {
    background-color: var(--location-tracked);
}

.location-tracker {
    display: none;
    text-align: center;
}

.map-selector {
    text-align: center;
    margin-top: 15px;
}

.location-num {
    text-align: center;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: -35px;
    background-color: rgba(0, 0, 0, 0.700);
    padding: 5px 5px;
    text-shadow: none;
    visibility: hidden;
}